body {
  margin: 0;
}


/* menu styling */

#menu {
  width: 100%;
  position: fixed;
  z-index: 1;
}

#menu li:hover {
  background: #07571F;
  cursor: pointer;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  float: left;
  width: 25%;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: Trebuchet MS;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #3B3A39;
}

#menu ul li li {
  width: 100%;
  font-size: 15px;
  background-color: #807D80;
}

#menu ul li ul {
  display: none;
}


/*This is the body styling */

#body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
  background-color: white;
}
