body {
  margin: 0;
}
/* menu styling */
#menu {
  width: 100%;
}

#menu li:hover {
  background: #07571F;
  cursor: pointer;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  float: left;
  width: 25%;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: Trebuchet MS;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #3B3A39;
}
#menu ul li li {
  width: 100%;
  font-size: 15px;
  background-color: #807D80;
}
#menu ul li ul {
  display:none;
}
